In [1]:
import os
import sys
import importlib

sys.path.append(os.path.abspath('../scripts'))

from Feature_Engineering import Feature_Engineering

In [2]:
importlib.reload(sys.modules['Feature_Engineering'])

# Re-import your class after reloading
from Feature_Engineering import Feature_Engineering

In [3]:

path = '../data/data.csv'
fe = Feature_Engineering(path)

fe.data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [8]:
fe.total_transaction_amount()

           CustomerId  total_transaction_amount
0        CustomerId_1                  -10000.0
1       CustomerId_10                  -10000.0
2     CustomerId_1001                   20000.0
3     CustomerId_1002                    4225.0
4     CustomerId_1003                   20000.0
...               ...                       ...
3737   CustomerId_992                   20000.0
3738   CustomerId_993                   20000.0
3739   CustomerId_994                  543873.0
3740   CustomerId_996                  139000.0
3741   CustomerId_998                  100000.0

[3742 rows x 2 columns]

aggregates the transaction amounts for each customer. Specifically, it groups the data by CustomerId and calculates the sum of the Amount for each customer

In [4]:
fe.average_transaction_amount()

           CustomerId  average_transaction_amount
0        CustomerId_1               -10000.000000
1       CustomerId_10               -10000.000000
2     CustomerId_1001                 4000.000000
3     CustomerId_1002                  384.090909
4     CustomerId_1003                 3333.333333
...               ...                         ...
3737   CustomerId_992                 3333.333333
3738   CustomerId_993                 4000.000000
3739   CustomerId_994                 5384.881188
3740   CustomerId_996                 8176.470588
3741   CustomerId_998                 4545.454545

[3742 rows x 2 columns]